@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color:whitesmoke;
}
.app{
    width: 100%;
    background-color: black;
    height: 180px;
    color: white;
    font-size: 110px;
    text-align: center;
    padding-top: 10px;

}
.box{
    display: inline-block;
    background-color: black;
    height: 160px;
    border-radius: 10px;

.counter{
    width: 100px;
    margin-left: 10px;
}

}
.digit{
    width: 170px;
}